/*
Pesky Critters Colour scheme:
Red = #d11212
Blue = #1F2854
Call2Action = #FFCD5F
White = #d4d4d4
Dark Grey = #292929
*/


@import url("bootstrap/css/bootstrap.min.css");

/*BACKGROUND COLOURS FOR LAYOUT*/
.bg-col1 {
    background-color: red;
    color: white;
}
.bg-col2 {
    background-color: green;
    color: white;
}
.bg-col3 {
    background-color: blue;
    color: white;
}
.bg-col4 {
    background-color: purple;
    color: white;
}
.bg-col5 {
    background-color: black;
    color: white;
}
* {
    font-family: Avenir !important;
}
html {
    min-width: 340px;
}
h1 {
    font-weight: 900;
    font-size: 2.8em;
}
/*Page line style adjustment*/
hr {
	border: none;
	background-color: #d11212;
	height: 2px;
	margin-top: 1%;
	margin-bottom: 1%;
}
.hidden-separator {
    padding-bottom: 2%;
    background-color: white; 
}
/*Utility classes*/
.col-centre {
    float: none;
    margin: 0 auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
.bottom {
    bottom: 0;
}
.text-center {
    text-align: center;
}
.xs-margin-top {
    margin-top: 2%;
}
.sm-margin-top {
    margin-top: 4%;
}
.md-margin-top {
    margin-top: 6%;
}
.lg-margin-top {
    margin-top: 8%;
}
.xl-margin-top {
    margin-top: 10%;
}
.xs-margin-bottom {
    margin-bottom: 2%;
}
.sm-margin-bottom {
    margin-bottom: 4%;
}
.md-margin-bottom {
    margin-bottom: 6%;
}
.lg-margin-bottom {
    margin-bottom: 8%;
}
.xl-margin-bottom {
    margin-bottom: 10%;
}
/*Media Queries*/
/*Addthe variables once less is functional..
@screen-xs-min etc
*/
@media (min-width: 170px)
{
    /*.full-banner-size{height: 130px !important;}*/
    #strapline {
        font-style: italic;
        font-weight: 900;
    }
    .slider_nav {
        display: none !important;
    }
    .strapline-margin {
        margin:0% !important;
    }
    #search {
        display: none !important;
    }
    .logo-pos {
        position: inherit;
        left: 33% !important;
    }
    .infobox{
        
        /*height: 200px;*/
        /*overflow: hidden;*/
        min-width: 230px;
    }
    .parentbox {
        float: none !important;
        margin: 0 auto !important;
    }
    .header-icon-size{
        width: 20px !important; 
    }
    .header-social-icon-size {
        width: 20px !important;
    }
    .news-announcement, .featured-video {
        right: 0 !important;
    }
    .contact-info {
        font-size: 0.73em !important;
    }
    .footer-icon-size {
        width: 25%;
        float: none !important;
    }
	.front-page-sidebar {
		padding-right: 0 !important;
		padding-left: 15px !important;
	}
	.centre-images img{
		display: block !important;
		margin-left: auto;
		margin-right: auto
	}
	
}
@media (min-width: 480px)
{
    #strapline {
        font-size: 1.8em !important;
    }
    .slider_nav {
        display: inline !important;
    }
    .rapid-response {
        display: block !important;
    }
    .full-banner-size {
        float:none !important;
        margin: 0 auto;
    }
    #search {
        display: inline !important;
    
    }
    
    .logo-pos {
        position: inherit;
        left: 33% !important;
    }
    .infobox{
        
        /*height: 200px;*/
        /*overflow: hidden;*/
        min-width: 100px;
    }
    .contact-info {
        font-size: 0.8em !important;
    }
}
@media (min-width: 768px)
{
    /*.full-banner-size{height: 187px !important;}*/
    .strapline-margin {
        margin-top:5% !important;
        margin-bottom:1% !important;
    }
    #strapline {
        margin-top: 7%;
        margin-bottom: 0%;
    }
    #search {
        display: inline !important;
    }
    
    .logo-pos {
        position: inherit;
        left: -15px !important;
    }
    .bg-logo-col {
        background-color: transparent !important;
    }
    .parentbox {
        float: left !important;
        margin: 0 auto !important;
    }
    .header-icon-size{
        width: 20px !important; 
    }
    .header-social-icon-size{
        width: 20px !important;
    }
    .social-contact-pos {
        position: absolute;
        bottom: -60px;
        right: 0;
    }
    .contact-info {
        position: absolute;
        bottom: 2px;
        right: 0;
        font-size: 0.9em !important;
    }
    .footer-sitemap li {
        text-align: center;
    }
	.front-page-sidebar {
		left: 0px !important;
	}
	.centre-images img{
		display: inline !important;
	}
	
}
@media (min-width: 922px)
{
    .full-banner-size{height: 177px !important;}
    #strapline {
        font-size: 2em !important;
    }
    .strapline-margin {
        margin-top:6% !important;
        margin-bottom:3% !important;
    }
    
    .bg-logo-col {
        background-color: transparent !important;
    }
    .header-icon-size{
        width: 26px !important; 
    }
    .header-social-icon-size{
        width: 30px !important;
    }
    .contact-info {
        font-size: 0.95em !important;
    }
    .footer-sitemap li {
        text-align: justify;
    }
    .footer-icon-size {
        width: 20%;
        float: right !important;
    }
	.front-page-sidebar {
		padding-right: 0 !important;
		padding-left: 15px !important;
	}
	
}
@media (min-width: 1200px)
{
    .strapline-margin {
        margin-top:8% !important;
        margin-bottom:3% !important;
    }
    #strapline {
        font-size: 2.8em !important;
    }
    .contact-info {
        font-size: 1.05em !important;
    }
	.footer-logo-size {
		margin-left: 8% !important;
	}
}
.no-margins {
    margin-left: -10px;
    margin-right: -10px;
}
/*Banner Style adjustments*/
.full-banner-size {
    height: inherit;
    position: absolute;
    bottom: 0;
}
.header{
    position: relative;
}
.header-width {
    min-width: 120px;
}
#strapline {
    font-family: Avenir;
    color: #1F2854;
}
.rapid-response {
    font-weight: 500;
    
}
.contact-info {
    font-size: 1em;
}
.social-contact {
    
}
.social-contact img {
    width: 25px;
}
.header-icon-margins {
    margin-right: 2%;
}
.header-icon-size {
    width: 50%;
    max-width: 30px;
}
.header-social-icon {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}
/*Logo Style adjustments*/
.logo-pos {
    position: inherit;
    left: -15px;
}
.logo-width {
    width:100%;
    min-width: 100px;
}
.logo-left {
    margin-left: -15px;
    margin-bottom: -2px;
}
/*Navbar Style adjustments*/
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.navbar-inner {
    text-align:center;
}
.navbar {
    /* Let's soften the corner's of the navbar slightly */
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    font-size: 1.05em;
}
/*Change navbar item colour*/
.nav > li > a {
    color: #d4d4d4;
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}
/*For drop down for one level*/
.nav ul > li > a {
    color: #d4d4d4;
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

/*Change navbar hover colour*/
.nav > li > a:hover {
    color: #1F2854;
    /*background-color: #d4d4d4 !important;*/
}
.nav > li.active a {
    background-color: #c76051;
}
/*For drop down for one level*/
.nav ul > li > a:hover {
    color: #1F2854;
}
/*For drop down for one level*/
.nav ul > li.active a{
    background-color: #c76051;
}
.nav ul > li.active a:hover{
    background-color: #c76051; 
}
.navbar-background {
    background-color: #d11212;
}
.navbar-background .dropdown-menu {
    background-color: #d11212;
}

/*Call to Action for the navbar*/
.navbar-inner > .container > ul > li:last-child > a {
    color: #FFCD5F !important;
    font-weight: 900;
}
/*Call to Action for the navbar - hover*/
.navbar-inner > .container > ul > li:last-child > a:hover {
    color: #1F2854 !important;
    
}

/*For the highlight on the navbar menu item which has the drop down on.
It is to add the highlight when once you click the drop down, since the
background and color of text are very similar*/
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #d11212;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover{
    color: #d4d4d4;
}
/*The icon for the collapse button, to expand the navigation*/
.collapse-icon-bar{
    
}
/*Navbar drop down style adjustments*/
.dropdown-header {
    display: none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #1F2854;
    border-top-color: #1F2854;
}

/*Search style adjustments*/
.search-query {
    height: 30px;
}
.search-bar .btn-primary {
    /* Let's soften the corner's of the search button slightly */
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    background-color: #1F2854;
    height: 28px;
    border: none;
    margin-top: -1px;
}
/*Slider style adjustments*/
.slider {
    position: relative;
    height:365px;
    overflow: hidden;
    margin-bottom: 2%;
    background: grey;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    
}
.slider .slider-img {
    /*height: 450px;*/
    position: absolute;
    top: -50px;
    left: -30px;
    opacity:0;
    z-index: 0;
}
.slider .caption {
    z-index:600;
    background-color:#d11212;
    color:#ffffff;
    position: inherit;    
    bottom: -210px;
    left: -30px;
    height: 80px;
    width: 125%;
}
.slider .caption .content {
    margin:5px
}

.slider .caption .content h3 {
    margin: 0;
    padding:0;
    color:#1DCCEF;
}
.slider_nav {
    top: 40px;
    width: 10px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.slider_nav:hover {
    opacity: 1;
}
.previous{
    left: 15px;
}

/*Featured Video (home page) style adjustments*/

.front-page-parent-video {
	padding: 0;
}
.front-page-video {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*News Announcement style adjustments*/
.parent-news-announcement {
	background-color: #e1e1e1;
	-webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
	color: #1F2854;
}

.news-announcement {
    margin-top: 3%;
	padding: 2%;
	height: inherit;
}
.news-announcement h4{
	border-bottom: 1px solid #d11212;
}
.news-announcement a {
	color: inherit;
	text-decoration: none;
}
.news-announcement-text .vnewsticker {
    font-size: 1em;
}

/*Info box style adjustments*/
.infoboxes-nopaddig {
	padding-left: 0;
	padding-right: 0;
}
.infobox{
    margin-top: 3%;
    margin-bottom: 5%;
    vertical-align: middle;
    /*overflow: hidden;*/
    text-align: justify;
    /*background-color: #dfdfdf;*/
    
}    
.infobox img {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    width: 100%;
    height: 100%;
    border: 4px solid #1F2854;
}
.infobox div a {
    color: #292929;
    text-decoration: none;
}

.Center-Container {
  position: relative;
}

.Absolute-Center {
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


/*Call to action button*/
.call-to-action-general {
    background-color: #3f9b23;
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    width: 100px;
    padding: 20px;
    text-align: center;
    color: white !important;
    text-decoration: none;
}
.call-to-action-general:hover {
    background: #f59029;
    text-decoration: none;
}
.call-to-action-btn {
    width: 120px;
    height: 100px;
    background-color: #f59029;
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    position: fixed;
    bottom: -20px;
    right: 0;
    z-index:601;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}
.call-to-action-btn:hover {
    background: #d11212;
}
.call-to-action-btn a {
    color: white;
    text-align: center;
}
.call-to-action-btn a:hover {
    color: #FFCD5F;
    text-decoration: none;
}

/*Footer style adjustments*/
.footer {
    color: #d4d4d4 !important;
    background-color: #1F2854;
    height: 225px;
    height: auto;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}
.accolades {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 0.9em;
    color: #a2a2a2;
}
.kairos-vision-logo {
    max-width: 130px;
}
.footer-logo-size {
    width: 49%;
    max-width: 150px;
}
.footer {
	padding-top: 2%;
    position: relative;
}
.footer #pesky-critters-footer {
	border-top: 1px solid white;
	margin-top: 2.5%;
	opacity: 0.5;
    font-size: 0.9em;
    color: #eaeaea;
}
#designed-by {
    margin-top: 20px;
}
#designed-by a {
    font-size: 1em;
    color: #eaeaea;
}
#designed-by a:hover {
    text-decoration: none;
    color: #FFCD5F;
}
.footer-icon-size {
    margin-top: 10%;
    margin-left: 5%;
    max-width: 60px;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    
}
.footer-sitemap li{
    list-style: none;
    font-size: 0.85em;
}
.footer-sitemap li a {
    color: #a2a2a2;
}
.footer-sitemap li a:hover {
    color: #eaeaea;
    text-decoration: none;
}
.footer-sitemap li a .caret {
    display: none;
}
.footer-sitemap hr {
    background-color: white;
    opacity: 0.25;
    margin-top: -2px;
}

/*Single (standard) Post style adjustments */

.entry-content {
    font-size: 1.2em;
}
/*Portrait box styling for the about page*/
.portrait-box {
    margin-bottom: 2.5%;
    height: 360px;
    overflow: hidden;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 4px solid #1F2854;
    padding: 0;
}
.portraits {
    width: 100%;
}

/*Blockquotes for testimonials and speeches*/
/** blockquote styles **/
.cst-blockquote {
	background-size: 100%;
	margin-left: 18px;
}

blockquote {
    border-left: 0;
    width: 100%;
    padding: 6%;
	background: url('images/misc/open-quote-red.png') left no-repeat;
	background-size: 7%;
    line-height: 18px;
    color: #707070;
    text-align: center;
    font-size: 1em;
}

blockquote strong {
	color: #2f2f2f;
}
/*Pest Infomation styles*/
.pest-category {
	height: 100px;
	text-align: center;
	-webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
	overflow: hidden;
	margin-bottom: 2%;
}
.pest-category-text {
	top: 29%;
}
.pest-category-image {
	width: 100%;
	margin-top: -55px;
	float:none;
	opacity: 0.5;
	
}
.red-pest-category {
	background-color: #d11212;
	height: 100%;
	opacity: 0.7;
	
	-webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}
.red-pest-category a{
	color: white;
	font-size: 2.3em;
	text-decoration: none;
}
.red-pest-category:hover {
	opacity: 1;
}

/*Contact Page (form) Style adjustments*/
#field {
    width: 100%;
    min-height: 40px;

}
/*Horrible hack to over extend the message field box that is set to col-*-11 in contac-page.php*/
#message-field {
    min-width: 110%;
    max-width: 110%;
    
}
#dropdown-field {
    min-width: 200px;
}
.form-block {
    margin-top: 9%;
}
.submit-style {
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    border: none;
    padding: 10px;
    width: 150px;
    color: white;
    font-size: 1.05em;
    background-color: #1F2854;
}
.submit-style:hover {
    background-color: #d12212;
}